.card-footer {
    // margin: auto;
    background: var(--primary);
    color: white;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 0;
}

.card-footer-list {
    display: flex;
    border-radius: 0px 5px 5px 0px;
}

.card-footer-grid {
    border-radius: 0px 0px 5px 5px;
    padding: 10px;

}

.img-card-list {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

mat-toolbar {
    margin-top: 5px!important;
}

label.mdc-label {
    margin-bottom: 0px!important;
}
.checkbox-recipe-filter > mat-checkbox {
    margin-left: 20px;
}



.card-list {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-content {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 100%;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
    // padding: 0 10px;
    padding: 0px 10px; 
    // margin: auto;
    height: 100%;
}

.img-div {
    padding: 0px;
    height: 100%;
}

.recipe-detail {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.recipe-detail > div {
    padding: 0px;
}

.recipe-detail .col-md-4, 
.recipe-detail .col-sm-4, 
.recipe-detail .col-xs-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#recipe-element {
    height: 100px;
}


// GRID VISUALIZATION

.card-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 20px;
}

.img-container {
    width: 100%;
    flex-shrink: 0;
    height: 250px; /* Ajusta esta altura según tus necesidades */
    overflow: hidden;
}


.img-card-grid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // margin-bottom: 20px;
}

.recipe-element {
    margin-bottom: 15px;
}



/* Estilos responsivos */
@media (max-width: 767px) {
    .card-footer {
        flex-direction: column;
        padding: 5px;
    }

    .recipe-detail {
        flex-direction: column;
    }

    .recipe-detail .col-xs-4 {
        margin-bottom: 5px;
    }

    .img-container {
        height: 150px; /* Ajusta la altura para móviles */
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .img-container {
        height: 180px; /* Ajusta la altura para tablets */
    }
}