-<div class="">
    <!-- Botón para abrir el sidebar -->
    <div class="row col-md-12 container-title">
        <h2>Lista de la Compra</h2>
    </div>
  
    <div class="row">
        <div class="col-md-12">
            <mat-card>
                <mat-card-header class="header-txt-color">
                  <mat-card-title>Agregar Producto</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <mat-form-field class="row">
                    <div class="form-group col-md-12">
                        <div class="row">
                            <label for="select">Nuevo Producto:</label>
                            <mat-form-field appearance="outline" class="full-width custom-field">
                                <input matInput placeholder="Nuevo producto" type="string" [(ngModel)]="newItem" required>
                            </mat-form-field>
                        </div>
                    </div> 
                    <button mat-icon-button matSuffix class="btnAdd" (click)="addItem()">
                      <mat-icon>add</mat-icon>
                    </button>
                  </mat-form-field>
                </mat-card-content>
              </mat-card>
        </div>
    </div>
    <!-- Lista de la Compra -->
    <div class="row">
      <div class="col-md-12">
        <mat-card>
          <mat-card-content>
            <mat-list>
              <mat-list-item *ngFor="let item of shoppingList; let i = index">
                <mat-checkbox [(ngModel)]="item.checked">{{item.item}}</mat-checkbox>
                <button mat-icon-button (click)="openConfirmRemoveDialog(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  
    <div id="buttons" class="col-md-12 col-xs-12 text-right">
        <div class="row top_tiles" style="margin: 10px 0;">
            <div class="actionBar2">
                <div class="col-md-12 col-sm-8 col-xs-12 button-actions">
                  <input id="saveAll" type="button" class="btn btn-info" value="Guardar" (click)="saveShoppingList()" #tooltip="matTooltip" matTooltip="Guardar lista de la compra">
                  <input id="generateList" type="button" class="btn btn-info" value="Generar Lista" (click)="generateShoppingList()" #tooltip="matTooltip" matTooltip="Generar lista de la compra automáticamente">
                  <input id="deleteAll" type="button" class="btn btn-info" value="Eliminar todo" (click)="openConfirmClearDialog()" #tooltip="matTooltip" matTooltip="Eliminar toda la lista">
                  <input id="goBack" type="button" class="btn btn-info" value="Volver" (click)="navService.goBack()">
                </div>
            </div>
        </div>    
    </div>
  </div>

  <!-- Confirmación de eliminación -->
<ng-template #confirmDialog>
    <div class="modal-confirm">
        <h2 mat-dialog-title>Confirmación</h2>
        <mat-dialog-content>¿Estás seguro de que deseas eliminar este elemento?</mat-dialog-content>
        <mat-dialog-actions>
          <button mat-button (click)="confirmRemoveItem()">Sí</button>
          <button mat-button (click)="cancelRemoveItem()">No</button>
        </mat-dialog-actions>
    </div>
</ng-template>
  
  <ng-template #confirmClearDialog>
    <div class="modal-confirm">
        <h2 mat-dialog-title>Confirmación</h2>
        <mat-dialog-content>¿Estás seguro de que deseas eliminar todos los elementos?</mat-dialog-content>
        <mat-dialog-actions>
          <button mat-button (click)="confirmClearShoppingList()">Sí</button>
          <button mat-button (click)="cancelClearShoppingList()">No</button>
        </mat-dialog-actions>
    </div>
  </ng-template>