<div class="home-container" style="width: 100%;">
    <div class="col-md-12">
        <h2 class="title">Bienvenido a {{ title }}</h2>
        <p>Aquí puedes planificar tus comidas, buscar recetas, registrar tu dieta diaria y obtener recomendaciones personalizadas. ¡Empecemos!</p>
        <p>Explora nuestras funcionalidades:</p>
    </div>

    <div class="row container-body">      
      <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let home of homeButtons">
        <a [routerLink]="getLink(home)">
          <div class="card support-bar overflow-hidden">
            <div>
              <img class="img-responsive" style="width: 100%; height: 220px;" [src]="home.imgPath" />
            </div>
            <div class="card-body pb-0" style="padding: 10px;">
              <h5 class="m-0"> 
                {{ home.title }} 
                <span *ngIf="!home.disponible">
                  <mat-icon class="icon-warning" #tooltip="matTooltip" matTooltip="NO DISPONIBLE">
                      warning
                  </mat-icon> 
                </span>
              </h5>              
            </div>
            <div class="card-footer">
                <div class="col-md-12 col-sm-12">
                  <mat-icon mat-list-icon class="card-inline-icon"> {{ home.icon }} </mat-icon>
                  <span> {{ home.description }} </span>
                </div>
            </div>
          </div>
        </a>
      </div>
    </div>
      
    <router-outlet></router-outlet>
  </div>
  